{% extends 'layout1.html' %}
{% block body %}

<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
            <div class="row">
                <!-- sidebar -->
                <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                    <a href="#"
                        class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">getyourphone</a>
                    <div class="bottom-border pb-3">
                        <img src="images/admin.jpeg" width="50" class="rounded-circle mr-3">
                        <a href="#" class="text-white">teamCypher</a>
                    </div>
                    <ul class="navbar-nav flex-column mt-4">
                        <li class="nav-item"><a href="/dashboard" class="nav-link text-white p-3 mb-2 "><i
                                    class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
                        <li class="nav-item"><a href="/users" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                                    class="fas fa-user text-light fa-lg mr-3"></i>Users</a></li>
                        <li class="nav-item"><a href="/devices" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                                    class="fas fa-mobile text-light fa-lg mr-3"></i>Devices</a></li>
                        <li class="nav-item"><a href="/add-device"
                                class="nav-link text-white p-3 mb-2 sidebar-link current"><i
                                    class="fas fa-plus text-light fa-lg mr-3"></i>Add a device</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                                    class="fas fa-chart-line text-light fa-lg mr-3"></i>Analytics</a></li>

                    </ul>
                </div>
                <!-- end of sidebar -->

                <!-- top-nav -->
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <h4 class="text-light text-uppercase mb-0">Add Device</h4>
                        </div>
                    </div>
                </div>
                <!-- end of top-nav -->
            </div>
        </div>
    </div>
</nav>
<!-- end of navbar -->

<!-- modal -->
<div class="modal fade" id="sign-out">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Want to leave?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Press logout to leave
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Logout</button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal -->


<section>
    <div class="container-fluid">
        <div class="row pt-md-5 mt-md-3 mb-5 justify-content-center">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form class="">
                    <div class="form-group">
                        <label for="model-name"><strong>Model Name</strong></label>
                        <input type="text" class="form-control" id="model-name" name="model-name"
                            placeholder="e.g. Redmi Note 5 Pro" required>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="brand-name"><strong>Brand</strong></label>
                            <select class="form-control" id="brand-name" name="brand-name" required>
                                <option>Apple</option>
                                <option>Xiaomi</option>
                                <option>OnePlus</option>
                                <option>Nokia</option>
                                <option>Realme</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="model-no"><strong>Model No</strong></label>
                            <input type="text" class="form-control" id="model-no" name="model-no">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="processor"><strong>Processor</strong></label>
                            <input type="text" class="form-control" id="processor" name="processor"
                                placeholder="e.g. SnapDragon 665" required>
                        </div>
                        <div class="form-group col">
                            <label for="os"><strong>OS</strong></label>
                            <input type="text" class="form-control" id="os" name="os" placeholder="" required>
                        </div>
                        <div class="form-group col">
                            <label for="battery"><strong>Battery</strong></label>
                            <input type="text" class="form-control" id="battery" name="battery" placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="exampleFormControlTextarea1"><strong>Front-Camera</strong></label>
                            <textarea class="form-control" id="front-camera" name="front-camera" rows="3"
                                required></textarea>
                        </div>
                        <div class="form-group col">
                            <label for="exampleFormControlTextarea1"><strong>Back-Camera</strong></label>
                            <textarea class="form-control" id="back-camera" name="back-camera" rows="3"
                                required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="screen-type"><strong>Screen type</strong></label>
                            <input type="text" class="form-control" id="processor" name="processor" required>
                        </div>
                        <div class="form-group col">
                            <label for="screen-size"><strong>Screen Size</strong></label>
                            <input type="text" class="form-control" id="screen-size" name="screen-size" placeholder=""
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="screen-size"><strong>Dimensions</strong></label>
                        <input type="text" class="form-control" id="screen-size" name="screen-size" placeholder=""
                            required>
                    </div>
                    <div class="form-group">
                        <label for="screen-size"><strong>Weight</strong></label>
                        <input type="text" class="form-control" id="screen-size" name="screen-size" placeholder=""
                            required>
                    </div>
                    <div class="form-group">
                        <label for="screen-size"><strong>Build</strong></label>
                        <input type="text" class="form-control" id="screen-size" name="screen-size" placeholder=""
                            required>
                    </div>

                    <div class="form-group">
                        <label for="screen-size"><strong>Build</strong></label>
                        <input type="text" class="form-control" id="screen-size" name="screen-size" placeholder=""
                            required>
                    </div>
                    <div class="form-group">
                        <button type="Submit" class="btn btn-block btn-primary">Add Device</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- end of tables -->



{% endblock %}