{% extends 'layout.html' %}
{% block body %}
<div class="outer_wrap content_wrap">
    <div class="content_wrap_inner">
        <div style="max-width:1017px;min-width:990px;">
        </div>
        <div class="home_top_news_pnl" style="margin-top:50px">

            <div class="clr"></div>

            <div id="recentViewedBox1" class="rcntviewed1">
                <center>
                    <div class="loader"></div>
                </center>
            </div>
            <div data-get-recently-viwed="true" id="recentViewedBox" class="rcntviewed" data-load-type="onload">
            </div>

            <div class="products_wraper" style="height:auto;" style="margin-top: 20px">
                <div style="width: 900px;margin-top:0px;">
                    <div style="float: left;margin-left: 34px;margin-bottom: 10px;">
                        <div class="main_heading_blog"> Recently Viewed and Recommended</div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div class="inner_pro">
                    <div class="inner_pro tab-content current" data-type="featured" id="featured_mobile">

                        <ul id="fifth-carousel-featured_product" style="padding-left:14px;">

                            <li class="innerContent innerContent_mob show_li"
                                style="text-align: center;height: auto; margin-top:25px">
                                <span class="target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">
                                    <div class="hm_deal_img"><img alt="Vivo V20" title="Vivo V20" class="mobile_img"
                                            src="demo.jpg" alt="Vivo V20"></div>
                                </span>
                                <div style="padding: 10px;">
                                    <div class="title_name"><a title="Vivo V20" href="/vivo-v20-price-in-india">Vivo
                                            V20</a></div>
                                    <span class="pro_price">Rs. 23,241 </span>
                                </div>
                                <div class="gray_btn target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">View Details</div>
                            </li>

                            <li class="innerContent innerContent_mob show_li"
                                style="text-align: center;height: auto; margin-top:25px">
                                <span class="target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">
                                    <div class="hm_deal_img"><img alt="Vivo V20" title="Vivo V20" class="mobile_img"
                                            src="demo.jpg" alt="Vivo V20"></div>
                                </span>
                                <div style="padding: 10px;">
                                    <div class="title_name"><a title="Vivo V20" href="/vivo-v20-price-in-india">Vivo
                                            V20</a></div>
                                    <span class="pro_price">Rs. 23,241 </span>
                                </div>
                                <div class="gray_btn target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">View Details</div>
                            </li>

                            <li class="innerContent innerContent_mob show_li"
                                style="text-align: center;height: auto; margin-top:25px">
                                <span class="target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">
                                    <div class="hm_deal_img"><img alt="Vivo V20" title="Vivo V20" class="mobile_img"
                                            src="demo.jpg" alt="Vivo V20"></div>
                                </span>
                                <div style="padding: 10px;">
                                    <div class="title_name"><a title="Vivo V20" href="/vivo-v20-price-in-india">Vivo
                                            V20</a></div>
                                    <span class="pro_price">Rs. 23,241 </span>
                                </div>
                                <div class="gray_btn target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">View Details</div>
                            </li>

                            <li class="innerContent innerContent_mob show_li"
                                style="text-align: center;height: auto; margin-top:25px">
                                <span class="target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">
                                    <div class="hm_deal_img"><img alt="Vivo V20" title="Vivo V20" class="mobile_img"
                                            src="demo.jpg" alt="Vivo V20"></div>
                                </span>
                                <div style="padding: 10px;">
                                    <div class="title_name"><a title="Vivo V20" href="/vivo-v20-price-in-india">Vivo
                                            V20</a></div>
                                    <span class="pro_price">Rs. 23,241 </span>
                                </div>
                                <div class="gray_btn target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">View Details</div>
                            </li>

                            <br>

                            <li class="innerContent innerContent_mob show_li"
                                style="text-align: center;height: auto; margin-top:25px">
                                <span class="target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">
                                    <div class="hm_deal_img"><img alt="Vivo V20" title="Vivo V20" class="mobile_img"
                                            src="demo.jpg" alt="Vivo V20"></div>
                                </span>
                                <div style="padding: 10px;">
                                    <div class="title_name"><a title="Vivo V20" href="/vivo-v20-price-in-india">Vivo
                                            V20</a></div>
                                    <span class="pro_price">Rs. 23,241 </span>
                                </div>
                                <div class="gray_btn target_link" data-href-url="vivo-v20-price-in-india"
                                    style="cursor: pointer;">View Details</div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="products_wraper" style="height:auto; margin-top: 20px">
                <div class="home_widgtes">
                    <div class="tabs">
                        <div class="main_heading_blog">
                            <h2 id="heading_featured">Latest and Popular Mobiles</h2>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                <div class="clr"></div>
                <div id="overlay_featured" class="loader_image" style="height:265px;"></div>
                <div class="inner_pro tab-content current" data-type="featured" id="featured_mobile">

                    <div style="left:343px;position: absolute;top: -34px;"><span
                            class="view_all_launches_txt target_link" data-href-url="phonefinder.php"
                            title=" All Mobiles"> All Mobiles</span></div>

                    <ul id="fifth-carousel-featured_product" style="padding-left:14px;">

                        <li class="innerContent innerContent_mob show_li"
                            style="text-align: center;height: auto; margin-top:25px">
                            <span class="target_link" data-href-url="vivo-v20-price-in-india"
                                style="cursor: pointer;">
                                <div class="hm_deal_img"><img alt="Vivo V20" title="Vivo V20" class="mobile_img"
                                        src="demo.jpg" alt="Vivo V20"></div>
                            </span>
                            <div style="padding: 10px;">
                                <div class="title_name"><a title="Vivo V20" href="/vivo-v20-price-in-india">Vivo
                                        V20</a></div>
                                <span class="pro_price">Rs. 23,241 </span>
                            </div>
                            <div class="gray_btn target_link" data-href-url="vivo-v20-price-in-india"
                                style="cursor: pointer;">View Details</div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="products_wraper" style="height:auto; margin-top: 20px">
                <div class="home_widgtes">
                    <div class="tabs">
                        <div class="main_heading_blog">
                            <h2 id="heading_popular_brands">Featured Mobile Brands</h2>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                <div class="clr"></div>
                <div id="overlay_popular_brands" class="loader_image_brand" style="height:145px;"></div>
                <div class="inner_pro tab-content current brand_inner_pro" data-type="popular_brands"
                    id="popular_brands_mobile">

                    <div style="left:320px;position: absolute;top: -80px;"><span
                            class="view_all_launches_txt target_link" title=" View All"> View All</span></div>
                    <ul id="fifth-carousel-popular_brands" style="padding-left:14px;">
                        <li class="innerContent innerContent_mob innerContent_brand show_li"
                            style="text-align: center;height: auto">
                            <span class="target_link" style="cursor: pointer;">
                                <div class="hm_brand_img"><img alt="Xiaomi" title="Xiaomi" src="brand.jpg"
                                        class="brand_img" alt="Xiaomi"></div>
                            </span>
                            <div style="padding: 10px;">
                                <div class="title_name"><a href="/xiaomi-mobile-price-list-in-india">Xiaomi
                                        Mobiles </a></div>
                            </div>
                            <div class="gray_btn target_link" data-href-url="xiaomi-mobile-price-list-in-india"
                                style="cursor: pointer;">View All</div>
                        </li>

                </div>
            </div>



        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="login-signup" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" style="z-index: 999999" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-center">tech geek</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <h3 class="text-center login" style='cursor:pointer'>Login</h3>
                        </div>
                        <div class="col">
                            <h3 class="text-center signup" style='cursor:pointer'>Signup</h3>
                        </div>
                    </div>

                    <hr>

                    <div class="container">

                        <div id="first">
                            <div class="myform form login-form">
                                <form action="" method="post" name="login">
                                    <div class="form-group">
                                        <label for="">Email address</label>
                                        <input type="email" name="email" class="form-control" id="email"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group" style="width:100%">
                                        <label for="">Password</label>
                                        <input type="password" name="password" id="password" class="form-control"
                                            aria-describedby="emailHelp" placeholder="Enter Password">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-center">By signing up you accept our <a href="#">Terms Of
                                                Use</a></p>
                                    </div>
                                    <div class="col-md-12 text-center ">
                                        <button type="submit"
                                            class=" btn btn-block mybtn btn-dark tx-tfm">Login</button>
                                    </div>

                                    <div class="form-group">
                                        <p class="text-center">Don't have account? <a href="#" id="signup">Sign
                                                up here</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div id="second">
                            <div class="myform form signup-form">
                                <form action="#" name="registration">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">First Name</label>
                                        <input type="text" name="firstname" class="form-control" id="firstname"
                                            aria-describedby="emailHelp" placeholder="Enter Firstname">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Last Name</label>
                                        <input type="text" name="lastname" class="form-control" id="lastname"
                                            aria-describedby="emailHelp" placeholder="Enter Lastname">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" name="email" class="form-control" id="email"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Password</label>
                                        <input type="password" name="password" id="password" class="form-control"
                                            aria-describedby="emailHelp" placeholder="Enter Password">
                                    </div>
                                    <div class="col-md-12 text-center mb-3">
                                        <button type="submit" class=" btn btn-block mybtn btn-dark tx-tfm">Get
                                            Started For Free</button>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <p class="text-center"><a href="#" id="signin">Already have an
                                                    account?</a></p>
                                        </div>
                                    </div>
                            </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="margin-top:40px">
        <div class="outer_wrap footer_wrap  img_background"
            data-src-background="//www.91-cdn.com/images/footer-line-bg.png">
            <form style="margin: 0px;" id="frmExDealEmailSub" name="frmExDealEmailSub" method="post">
                <!--footer subscibe n social wrap starts-->
                <div class="outer_wrap subscribe_wrap">

                    <div class="subscribe">
                        <!--Subscribe starts-->
                        <span id="dealmsg" style="font-size:18px;margin-right:0px; margin-top:5px">Follow us for top
                            stories, new launches & expert reviews!</span>

                        <div class="social">
                            <a onclick="" href="https://www.facebook.com/91mobiles" title="facebook"
                                class="facebook" rel="nofollow" target="_blank"></a>
                            <a onclick="" href="https://twitter.com/91mobiles" title="twitter" class="twitter"
                                rel="nofollow" target="_blank"></a>
                            <span style="cursor: pointer;" title="feed" class="feed" rel="nofollow"></span>
                            <span style="cursor: pointer;" title="mail" rel="nofollow" class="mail"></span>
                            <a href="https://www.youtube.com/user/91mobiles" title="Youtube" class="" rel="nofollow"
                                target="_blank"></a>
                        </div>
                        <!--Social ends-->
                    </div>
                </div>
                <!--footer subscibe n social wrap ends-->
            </form>
        </div>
    </div>

    <!--<script src="/minified_scripts/pushnotification.script.min.js?v=" type="text/javascript" language="javascript" defer></script>
-->
   
</div>
{% endblock %}