{% extends 'layout1.html' %}
{% block body %}

<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
            <div class="row">
                <!-- sidebar -->
                <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                    <a href="#"
                        class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">getyourphone</a>
                    <div class="bottom-border pb-3">
                        <img src="{{ url_for('static', filename='assets/img/admin/adminlogin.png') }}" width="50"
                            class="rounded-circle mr-3">
                        <a href="#" class="text-white">Admin</a>
                    </div>
                    <ul class="navbar-nav flex-column mt-4">
                        <li class="nav-item"><a href="/admin-panel/dashboard" class="nav-link text-white p-3 mb-2 "><i
                                    class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
                        <li class="nav-item"><a href="/admin-panel/users"
                                class="nav-link text-white p-3 mb-2 sidebar-link"><i
                                    class="fas fa-user text-light fa-lg mr-3"></i>Users</a></li>
                        <li class="nav-item"><a href="/admin-panel/gadgets"
                                class="nav-link text-white p-3 mb-2 sidebar-link"><i
                                    class="fas fa-mobile text-light fa-lg mr-3"></i>Devices</a></li>
                        <li class="nav-item"><a href="/admin-panel/add-gadget"
                                class="nav-link text-white p-3 mb-2 sidebar-link current"><i
                                    class="fas fa-plus text-light fa-lg mr-3"></i>Add a device</a></li>
                        <!-- <li class="nav-item"><a href="/admin-panel/reported-comments"
                                class="nav-link text-white p-3 mb-2 sidebar-link" id="analytics"><i
                                    class="fas fa-chart-line text-light fa-lg mr-3"></i>Reports</a></li> -->
                    </ul>
                </div>
                <!-- end of sidebar -->

                <!-- top-nav -->
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <h4 class="text-light text-uppercase mb-0">Add Device</h4>
                        </div>
                    </div>
                </div>
                <!-- end of top-nav -->
            </div>
        </div>
    </div>
</nav>
<!-- end of navbar -->


<!-- gadget form -->
<section>
    <div class="container-fluid">
        <div class="row pt-md-5 mt-md-3 mb-5 justify-content-center">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% include 'includes/_messages.html' %}
                <form action="/admin-panel/uploader/<brand>/<model_name>" method="POST" enctype="multipart/form-data">

                    <div class="row">
                        <div class="form-group col">
                            <label for="model_name"><strong>Model Name</strong></label>
                            <input type="text" readonly class="form-control-plaintext" id="model_name" name="model_name"
                                value="{{model_name}}">
                        </div>
                        <div class="form-group col">
                            <label for="brand"><strong>Brand</strong></label>
                            <input type="text" readonly class="form-control-plaintext" id="brand" name="brand"
                                value="{{brand}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="img_file"><strong>Images</strong></label>
                            <input type="file" class="form-control" id="img_file" name="img_file" multiple="multiple"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end of gadget form -->



{% endblock %}